/**
  * Reset some basic elements
*/

* {
  box-sizing: border-box !important;
  margin: 0; }
 
 input,
 select,
 textarea,
 button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
 }
 
 
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
     margin: 0;
     padding: 0;
 }
 
 
 /**
   * Basic styling
 */
 
 body {
     font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
     font-weight: normal;
     font-size: 16px;
     line-height: 1.8;
     color: #333333;
     background-color: white;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 @media screen and (min-width: 800px) {
  body {
    font-size: 24px;
  }
}
 
 p {
   margin: 0; 
 }
 
 b {
   font-weight: 600;
 }
 
 i, em {
   font-style: italic;
 }
 
 h1, h2, h3, h4, h5, h6 {
   margin-top: 1em;
   margin-bottom: 0.25em;
 }
 
 a {
   color: inherit;
   text-decoration: none;
 }
 
 /* a:hover {
   text-decoration: underline;
 } */
 
 img {
   width: 100%;
   display: inherit;
 }
 
 ::selection {
   background: rgba(165, 179, 187, 0.25);
 }

.layout {
  padding: 4rem 2rem;
}

@media screen and (min-width: 800px) {
  .layout {
    padding: 4rem;
  }
}

.links {
  margin-bottom: 4rem;
}

.links span {
  display: block;
}

.links a {
  line-height: 1.25em;
  margin-bottom: 0.5rem;
}

.links a:hover {
  text-decoration: underline;
}